<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>

<body>
    <!-- try ./partials if this doesnt work -->
    <%- include ('../partials/_navbar.ejs') %>
    <h1>Welcome to <%= user.username %>'s pantry</h1>

    <ul>
        <% pantry.forEach((pantry)=> { %>
            <li>
                <%= pantry.food %> (total: <%= pantry.total %>)

                <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>

                <form action="/users/<%= user._id %>/foods/<%= pantry._id %>/edit" method="GET">
                    <button type="submit">Edit</button>
                </form>

                <!-- commenting out the link because i dont actually think it's necessary here -->
                <!-- <a href="/users/<%= user._id %>/foods/<%= pantry._id %>">
                    <%= pantry.food %>
                </a> -->

            </li>
            <% }) %>
    </ul>

    <a href="/users/<%= user._id %>/foods/new">Add an item to your pantry</a>

</body>
</html>