<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pantry.food %></title>
</head>
<body>
    <%- include ('../partials/_navbar.ejs') %>
    <h1><%= pantry.food %></h1>

    <form action="/users/<%= user._id %>/foods/<%= pantry._id %> ?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

    <form action="/users/<%= user._id %>/foods/<%= pantry._id %>/edit" method="GET">
        <button type="submit">Edit</button>
    </form>

</body>
</html>